main{
    background-color: blue;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password{
    text-align: center;
    border: solid 2px limegreen;
    border-radius: 2rem 0 2rem 0;
    padding: 1rem 2rem;
}

h1{
    color: red;
}

#output{
    font-size: 1.5rem;
    color: limegreen;
}
